<div class="row mb-3">
  <div class="col-md-12">
    <div class="rs-search-result-container card">
      <div class="row">
        <!-- listing picture -->
        <div class="col-md-3">
              <a href=<%=listing_path(listing)%> >
                <% if (listing.image_proxies && listing.image_proxies.first && listing.image_proxies.first.image_url )%>
                  <img class="card-img-top" src=<%= listing.image_proxies.first.image_url%> alt="">
                <% else %>
                  <div>
                    <img class="card-img-top" src="https://images.vexels.com/media/users/3/130201/isolated/preview/18f6be93175fe25d1d5faf56fcb1a652-european-house-silhouette-1-by-vexels.png">
                  </div>
                <% end %>
              </a>
        </div>
        <!-- listing body -->
        <div class="col-md-7">
          <a href=<%=listing_path(listing)%> >
            <h5><%= listing.title%></h5>
          </a>
          <div class="card-body rs-listing-card-body">
            <div>
              <div class="rs-price">
                ETB <%= listing.price.amount%>
              </div>
              <% if (listing.house_detail) %>
              <ul class="rs-amenities-container">
                <% if (listing.house_detail.bedrooms) %>
                <li>
                  <i class="fas fa-bed"></i>
                  <%= listing.house_detail.bedrooms %>bd
                </li>
                <% end %>
                <% if (listing.house_detail.bedrooms) %>
                <li>
                  <i class="fas fa-bath"></i>
                  <%= listing.house_detail.bathrooms %>ba
                </li>
                <% end %>
                <% if (listing.house_detail.floors && listing.house_detail.floors > 1) %>
                <li>
                  <i class="fas fa-building"></i>
                  G+<%= listing.house_detail.floors %>
                </li>
                <% end %>
                <% if (listing.house_detail.area) %>
                <li>
                  <%= listing.house_detail.area %> sq m
                </li>
                <% end %>
              </ul>
              <% end %>
              <% if listing.location %>
              <div class="rs-location">
                <%= listing.location.neighborhood%>, <%= listing.location.city%>
              </div>
              <% end %>
              <div class="">

              </div>
            </div>
          </div>
        </div>
        <!-- listing actions -->
        <% if shows_listing_actions %>
          <div class="col-md-2">
            
          </div>
        <% end %>              
      </div>
    </div>
  </div>
</div>