<div class="card rs-side-card">
  <div class="card-body">
    <div class="rs-listing-price">
      <% if (listing && listing.price)%>
        <h3><%= listing.price.amount %> ETB</h3>
      <% end %>
    </div>

    <% if (listing && listing.agent) %>
      <div class="rs-agent-info-title">
        Agent Info
      </div>

      <div class="rs-agent-info">
        <% if (listing.agent.image_proxy) %>
          <img src="<%= listing.agent.image_proxy.image_url %>">
        <% else %>
        <% end %>
        <br>
          <%= listing.agent.first_name + " " + listing.agent.last_name %>
        <br>

        <%= listing.agent.phone_number%>
        <br>
        <br>        
        <% if (!user_signed_in? || (listing && !listing.is_owned_by_user(current_user))) %>
          <a style="color: white;" class="btn btn-secondary" href="/interested/<%= listing.id%>"> Contact Agent</a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>