<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <%= render(partial: "admin_side_nav")%>
    </div>
     <div class="col-md-9">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">City</th>
            <th scope="col">Area</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% if @listings %>
          <% @listings.each do |listing|%>
          <tr>
            <th scope="row"><%= listing.id %></th>
            <td scope="row"><%= link_to(listing.title, listing_path(listing) )%></td>
            <td scope="row"><%= listing.location.city %></td>
            <td scope="row"><%= listing.location.neighborhood %></td>
            <td scope="row"><%= listing.price.amount %></td>
            <td scope="row"><%= link_to("Edit", edit_listing_path(listing)) %></td>
            <td scope="row"><%= link_to("Delete", edit_listing_path(listing)) %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>